
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="/app-assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="/app-assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Magpie Admin Dashboard</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="/app-assets/css/material-dashboard.css?v=2.1.0"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="//cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css"
	rel="stylesheet" />
<link href="/app-assets/demo/demo.css" rel="stylesheet" />
</head>

<body >
	<div class="wrapper ">
		<!-- Sidebar -->
		<div th:replace="/fragments/component :: sidebar"></div>
		<div class="main-panel">
			<!-- Navbar -->
			<div th:replace="/fragments/component  :: navbar"></div>

			<!-- Main Content Goes Here -->
			<div class="content">
				<div class="container-fluid">
					<div class="row" >
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-primary">
									<h4 class="card-title ">List of Airports</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table" id="myTable">
											<thead class=" text-primary" >
												
												<th>Airport Name</th>
												<th>Airport Code</th>
												<th>City</th>
												<th>Country</th>
												<th>Action</th>

											</thead>
											<tbody style="font-size: 17px">
												<tr th:each="airport : ${listAirports}" >
													<td th:text="${airport.airName}"
														class="text-primary"></td>
													<td th:text="${airport.airCode}"></td>
													<td th:text="${airport.airCity}"></td>
													<td th:text="${airport.airCountry}"></td>
													<td><a
														th:href="@{/showAirportUpdate/{id}(id=${airport.id})}"
														class="btn btn-info"> Edit</a> <a
														th:href="@{/deleteAirport/{id}(id=${airport.id})}"
														class="btn btn-danger"> Delete</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- footer-->
			<div th:replace="/fragments/component  :: footer"></div>
			<script>
				$(document).ready(function() {
					$('#myTable').DataTable();
				});
			</script>
			<script>
				const x = new Date().getFullYear();
				let date = document.getElementById('date');
				date.innerHTML = '&copy; ' + x + date.innerHTML;
			</script>
		</div>
	</div>

	<!--   Core JS Files   -->
	<div th:replace="/fragments/component  :: script"></div>
	<script>
		$(document).ready(function() {
			// Javascript method's body can be found in assets/js/demos.js
			md.initDashboardPageCharts();

		});
	</script>
	<script type="text/javascript" href="//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js"></script>

</body>

</html>